#app3{
}

#app3 .square{
    border: 2px solid grey;
    margin-top: 10vw;
    margin-left: 10vw;
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
}

#app3 .square.active{
    transform: translateX(15vw);
}